# Ignore trained model files and directories
distill-sentiment-model/
sentiment-model/
gpt-news-model/
my-gpt-news-model/
flan-t5-summerizer/

# Also include common model checkpoint patterns if they aren't covered
*.pt
*.pth
*.h5
*.ckpt
*.safetensors
*.png

